/* SCSS variables */
$transparentWhite: rgba(255, 255, 255, 0.6);
$mainFont: Lexend-Regular, sans-serif;
$headingFont: Lexend-SemiBold, sans-serif;

@mixin flexState($justify: initial, $align: initial) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

/* import font-faces */

@font-face {
    font-family: Lexend-SemiBold;
    src: url(fonts/Lexend/Lexend-SemiBold.ttf)  format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Lexend-Bold;
    src: url(fonts/Lexend/Lexend-Bold.ttf)  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Lexend-Regular;
    src: url(fonts/Lexend/Lexend-Regular.ttf)  format('truetype');
    font-weight: normal;
}

/* set tag defaults */
li {display: block;}
dd {margin: 0;}
p {margin: 0;}

body {
    text-align: center;
    font: 1.8rem $mainFont;
    color:seagreen;
}

h1, h2, h3, h4, h5, h6 {font-family: $headingFont; margin: 0;}

nav li {
    font-size: 1.2em;
    text-decoration: underline;
}

ul {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 20px 0;
}



#team, #products-and-services, #banner-container {
    margin:  50px 0;
}

#banner-container {
    @include flexState();
    height: 500px;
    background: url(./images/field-banner.jpg) 50% 75% / cover no-repeat;
}

#products-and-services {
    li {
        @include flexState(space-evenly, center);
        margin: 10px 20px;
        background: $transparentWhite;
        padding: 20px 10px;
        border-radius:10px;
        flex-basis: fit-content;
    }

    img { 
        width: 200px;
        height: auto;
        margin: 5px; 
        border-radius: 5px;
    }

    ul {
        background: url(./images/field-banner.jpg) center 75% / cover no-repeat;
    }
    
    p {margin: 50px 0;}
}

#banner {
    width: 100%;
    margin: auto 0;

    * {
        padding: 30px 0;
        background-color: $transparentWhite;
        margin: 0;
    }
}

#team {
    li {
        @include flexState(flex-start, center);
        flex-direction: column;
        flex-basis: 280px;
        margin: 10px;
        background: $transparentWhite;
        padding: 20px 10px;
        border-radius:10px;
    }

    ul {
        background: url(./images/field-banner.jpg) center 75% / cover no-repeat;
    }
}

